<h1>Lista de Profesores</h1>
<th><%= link_to 'Inicio',welcome_path %></th><br>
<table>
	<thead>
		<tr>
			<th>Rut</th>
			<th>Nombres</th>
			<th>Apellidos</th>
			<th>Teléfono</th>
			<th>Correo</th>
			<th>Fecha de nacimiento</th>
			<th>Dirección</th>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody>
		<% @profesores.each do |actual| %>
			<tr>
				<td><%= actual.rut %></td>
				<td><%= actual.nombres %></td>
				<td><%= actual.apellidos %></td>
				<td><%= actual.telefono %></td>
				<td><%= actual.correo %></td>
				<td><%= actual.fecha_nacimiento %></td>
				<td><%= actual.direccion %></td>
				<% if usuario_signed_in? %>
				<td><%= link_to 'Mostrar', profesor_path(actual) %></td>
				<td><%= link_to 'Editar', editar_profesor_path(actual) %></td>
				<td><%= link_to 'Borrar', actual, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
				<%else%>
				<td><%= link_to 'Mostrar', profesor_path(actual) %></td>
				<%end%>
			</tr>
		<%end%>
	</tbody>
</table>

<br>
<%= link_to 'Nuevo Profesor', nuevo_profesor_path %>
