<h1>Sueldos Index</h1>

<th><%= link_to 'Inicio',welcome_path %></th><br>
<td><%= link_to 'Nuevo Sueldo ',sueldos_nuevo_path%></td><br>
<% @sueldos.each do |actual| %>
<td><%= actual.id %></td>
<td><%= actual.monto %></td>
<td><%= actual.fecha %></td><br>
<% if usuario_signed_in? %>
<td><%= link_to 'Mostrar',{:action => :show,
  :id =>actual.id}%></td>
  <td><%= link_to 'Editar',{:action => :editar,
    :id =>actual.id}%></td>
<td><%= link_to 'Eliminar',{:action => :eliminar,
  :id =>actual.id},
  :method => :delete ,
  :data =>{:confirm => 'seguro?'}%></td><br>
  <%else%>
  <td><%= link_to 'Mostrar',{:action => :show,
    :id =>actual.id}%></td>
  <%end%>
<%end%>
